.Card {
	width: 425px;
	height: 600px;
	margin: 15px;
	position: relative;
	flex: 0 0 auto;
	&:hover .overlay {
		background-color: #222020;
		color: #FFF;
		opacity: 1;
	}
	
	.poster {
		width: 425px;
		height: 600px;
		opacity: 1;
		position: absolute;
		transition: opacity .5s ease;		
		&:hover {
			opacity: 0;
			z-index: 0;
		}
	}

	.overlay {
		opacity: 0;
		height: 100%;
		
		.backdrop {
			width: 100%;		
		}
		
		h3, h4 {
			line-height: 1.3;
			margin: 8px 12px;
		}
		
		h3 {
			font-size: 24px;
		}
		
		button {
			position: absolute;
			top: 90px;
			left: 190px;
			height: 50px;
			width: 50px;
			outline: none;
		}
		.card-fav {
			background-image: url('../../assets/starGray.svg');
			background-position: center;
			background-size: 40px;
			background-repeat: no-repeat;
			border-radius: 50px;
			border: 3px solid lightgrey;
			transition: 0.8s;
			&:hover{
				background-image: url('../../assets/starHover.svg');
				border: 3px solid #EDBC49;
				box-shadow: 0 0 20px;
				transform: scale(1.5)
			}
		}
		.selected {
			background-image: url('../../assets/star.svg');
			background-position: center;
			background-size: 40px;
			background-repeat: no-repeat;
			border-radius: 50px;
			border: 3px solid #FFE800;
			transition: 0.8s;
			&:hover{
				background-image: url('../../assets/starHover.svg');
				border: 3px solid #EDBC49;
				box-shadow: 0 0 20px;
				transform: scale(1.5)
			}
		}
  }
}